<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    
       <!-- navbar -->
       <nav>
        <h2>Inventory Management</h2>
        <div class="lighter">
           <h2><a class="tabs" href="./">Home</a></h2>
           <h2><a class="tabs" href="./dashboard">Dashboard</a>
            </h2>
           <h2><a class="tabs" href="./sales.html">Sales</a>
            </h2>
           <h2><a class="tabs" href="./products">Products</a>
            </h2> 
        </div>
</nav>      
      <!-- navbar end -->
    <div >
        <img class="pic" src="/static/wallhaven-dpo38l.jpg" alt="">
    </div>
</body>
</html>