<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/CSS/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
    <script src="https://use.fontawesome.com/78bab9acb2.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">            

    <title> Inventories  </title>

    <link rel="stylesheet" href="/static/styleee.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/datatables.css">
  </head>
  <body>
    <div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="p-4 pt-5">
	        <ul class="list-unstyled components mb-5">
	          <li >
	            <a href="/">Home</a>
	           
	          </li>
	          <li>
	              <a href="/dashboard">Dashboard</a>
	          </li>
	          <li>
              <a href="/products">Products</a>
              
	          </li>
	          <li>
              <a href="/sales">Sales</a>
	          </li>
	          <li>
              <a href="#">Contact</a>
	          </li>
	        </ul>

	        <div class="footer">
	        	<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
						  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.--></p>
	        </div>

	      </div>
    	</nav>

      <div id="content" class="p-4 p-md-3">
    
        
        <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#exampleModal" style="margin-left: 250px;">
          <i class="fa fa-plus"></i> Add New Item
        </button>
        <!-- Add inventory Modal with forms -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action="/products" method="POST">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Name</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="product name" name="name">
                  </div>
                          <div class="form-group">
                    <label for="exampleInputEmail1">Buying Price</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="buying prie" name="buying_price">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Selling price</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="selling price" name="selling_price">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Stock Quantity</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="quantity" name="stock_quantity">
                  </div>
                  
                 
                 
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Add inventory Modal with forms End -->
            
            <!-- inventory table -->
             <!--class = display and id = table_id for datatable plugin -->
            <table class="content-table" id="tablee_id">
              <thead>
                <tr>
                  <!-- <th scope="col">#</th> -->
                  <th scope="col">ID</th>
                  <th scope="col">Name</th>
                  <th scope="col">Buying Price</th>
                  <th scope="col">Selling Price</th>
                  <th scope="col">Stock Quantity</th>
                  <th scope="col">Sale <i class="fa fa-usd" aria-hidden="true"></i></th>
                  <th scope="col">View Sale <i class="fas fa-user-edit" aria-hidden="true"></i></th>
                  <th scope="col">Edit <i class="fas fa-user-edit" aria-hidden="true"></i></th>
      
                </tr>
              </thead>
              <tbody>
                
                {% for i in data: %}
                <tr> 
                  <!-- <th scope="row"> 1 </th> -->
                  <td> {{i[0]}} </td>
                  <td> {{i[1]}} </td>
                  <td> {{i[2]}} </td>
                  <td> {{i[3]}} </td>
                  <td> {{i[4]}} </td>
                  <td>
                      <!-- Button to trigger modal -->
                      <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#SaleModal{{i[0]}}">
                        Purchase
                      </button>
                      <!-- Sale Modal -->
                  <div class="modal fade" id="SaleModal{{i[0]}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form action="/make_sale" method="POST"> 
                          <div class="form-group">
                            <label for="exampleInputPassword1">Product Id: {{i[1]}}  </label>
                            <input type="text" class="form-control" id="exampleInputPassword1" value="{{i[0]}}" name="product_id" >
                          </div><br>
                          <div class="form-group">
                            <label for="exampleInputPassword1">Quantity</label>
                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Quantity here" name="stock_quantity">
                          </div>
                          <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  </td>
            
                  <td>
                    <a href="/sales/{{i[0]}}" class="button">View Sale</a>
                  </td>
      <td>
      <!-- Button to trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#EditModal2{{i[0]}}">
        <i class="fa fa-edit"></i>
      </button>
        <!-- Edit Modal -->
        <div class="modal fade" id="EditModal2{{i[0]}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action="/edit_inventory/52" method="POST"> 
                  <div class="form-group">
                    <label for="exampleInputPassword1">Product Id  </label>
                    <input type="text" class="form-control" id="exampleInputPassword1" value="{{i[0]}}" name="id">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Product Name  </label>
                    <input type="text" class="form-control" id="exampleInputPassword1" value="{{i[1]}}" name="name">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Buying Price  </label>
                    <input type="text" class="form-control" id="exampleInputPassword1" value="{{i[2]}}" name="buying_price">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Selling Price  </label>
                    <input type="text" class="form-control" id="exampleInputPassword1" value="{{i[3]}}" name="selling_price">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Stock Quantity  </label>
                    <input type="text" class="form-control" id="exampleInputPassword1" value="{{i[4]}}" name="quantity">
                  </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </td>
      </td>
      
      
        
        </div>
    </div>
    


<!-- sidebar end -->
  <!-- Button trigger modal -->
      <!-- Delete Button trigerring modal --
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#DeleteModal2">
        <i class="fa fa-trash"></i>
        </button>
         <!-- Delete Modal --
<div class="modal fade" id="DeleteModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form action="/delete_inventory/2" method="POST"> 
        <div class="form-group">
          <label for="exampleInputPassword1">Product Name: Milk  </label>
          <input type="text" class="form-control" id="exampleInputPassword1" value="2" name="id">
        </div>
      Are you sure you want to delete!!!
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
  </div>
</div>
</div>
<!-- Modals end -->

              </td>
          </tr>
{%endfor%}
         
          
      </div>
    </div>
  </div>
</div>
    
         <!-- datatables -->
 <!-- jQuery first, then Popper.js, then Bootstrap JS -->
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
 <script>
   $(document).ready( function () {
     $('#tablee_id').DataTable();
 } );
 </script>    
   
  </body>
</html>